# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# large file
public/VirtualBox-7.0.16-162802-Win.exe
public/burpsuite_community_windows-x64_v2024_2_1_5.exe
public/tiktok_live_studio-v0.55.2-win32-x64.exe
# .gitignore
app/apple-icon.png
app/favicon.ico
.github/images/*
public/*